[phases.setup]
nixPkgs = ['nodejs', 'pnpm']

[phases.install]
cmds = ['pnpm install']

[phases.build]
# 根据 package.json，先 build schema 再 build 前端
cmds = ['pnpm schema:build', 'pnpm -F client build']

[start]
# 使用 client 预览模式，并监听 Zeabur 提供的端口
cmd = 'pnpm -F client preview -- --host 0.0.0.0 --port ${PORT}'
